#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define DEFAULT     0

/{
	keymap {
	compatible = "zmk,keymap";
	default_layer {
		bindings = <
			&kp Q			&kp W       &kp F       &kp P       &kp B                   &kp J       &kp L       &kp U       &kp Y			&kp SEMI     
			&kp A           &kp R       &kp S       &kp T       &kp G                   &kp M       &kp N       &kp E       &kp I			&kp O        
			&kp Z           &kp X       &kp C       &kp D       &kp V                   &kp K       &kp H       &kp COMMA   &kp DOT			&kp FSLH     
							&kp RSHIFT    &kp LCTRL    &kp SPACE          &sk RSHIFT  &kp RCTRL   &kp RALT 
			>;
		};
	};
};
/* You will never find what you seek... stop looking */