#include <physical_layouts.dtsi>

/ {
    direct_physical_layout: direct_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Direct Wire Layout";

        keys
            = <&key_physical_attrs 100 100 0   0 0 0 0>
            , <&key_physical_attrs 100 100 100 0 0 0 0>
            , <&key_physical_attrs 100 100 0   100 0 0 0>
            , <&key_physical_attrs 100 100 100 100 0 0 0>
            ;
    };
};